<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="I’m Riley Huston, an industrial design student at UW. This is my website." />
		<meta name="keywords" content="Design, Industrial Design, Portfolio, Designer, Washington, Kirkland, Lighting, Centerpiece, BOOL, Student, University of Washington, UW ID, IDSA, " />
		<meta name="author" content="Riley Huston" />
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/fonts.css" />
		<link rel="shortcut icon" href="/images/favicon.png" />
	</head>
	<body>

		   {% if page.url == "/" %}
<svg
						class="legit-marquee"
						viewBox="-30 0 2350 440"
						content="Hello there!"
						contentrepeat="1"
						speed="1"
						textsize="55"
						pathd="M272.5 47C272.5 53.2774 268.806 59.3315 261.957 64.9068C255.113 70.4788 245.178 75.519 232.857 79.7613C208.221 88.2442 174.153 93.5 136.5 93.5C98.8467 93.5 64.7793 88.2442 40.1427 79.7613C27.822 75.519 17.8872 70.4788 11.0425 64.9068C4.19388 59.3315 0.5 53.2774 0.5 47C0.5 40.7226 4.19388 34.6685 11.0425 29.0932C17.8872 23.5212 27.822 18.481 40.1427 14.2387C64.7793 5.75582 98.8467 0.5 136.5 0.5C174.153 0.5 208.221 5.75582 232.857 14.2387C245.178 18.481 255.113 23.5212 261.957 29.0932C268.806 34.6685 272.5 40.7226 272.5 47Z"
					></svg>
					
					
					<div class="fartrait"><img class="first-portrait" src="/images/pixel1.png" alt="">
							<p class="caption">
								<em>From <a href="https://pixel-me.tokyo/en/">pixel-me</a></em>
							</p>
					</div>
			
					{% endif %}
		<div class="grid">
			<div class="header">
				<span><a class="logo" href="/">Riley Huston ⬤■</a></span>
				<ul>
					<li><a href="/about/">about</a></li>
					<li><a href="/contact/">contact</a></li>
				</ul>
			</div>

	{{ content | safe }}

			<footer>
				<span><a class="logo" href="/">Riley Huston ⬤■</a></span>
				<ul>
					<li><button onclick="topFunction()" class="buttonTop" title:"Back to top">↑ back to top</p></li>
					<li><a href="/">about</a></li>
					<li><a href="/">contact</a></li>
				</ul>
			</footer>

	</body>
	

<script src="/js/back-to-top.js"></script>
</html>
